:root {
	--color-default: #fafafa;
	--color-primary: #277fa7;
	--color-secondary: #161718;
  }
  
  /* Smooth scroll behavior */
  :root {
	scroll-behavior: smooth;
  }

body{
    padding: 0;
    margin: 0;
}
a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
  }
  
  a:hover {
    color: #32cf93;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  #a2 {
    color: #32cf93;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  #a2:hover {
    color: #e92c2c;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  .p-r {
    position: relative;
  }
  
  .color-a {
    text-decoration: none;
    color: #0078ff;
  }
  
  .color-d {
    color: #f5f5f5;
  }
  
  .color-text-a {
     text-decoration: none;
    color: #4e4e4e;
  }
  
h1,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}
h2{
  color: #0078ff;
}
.hero h2 {
	margin: 0 0 10px 0;
	font-size: 38px;
	font-weight: 700;
	color: #4c4a4a;
	font-family: var(--font-secondary);
  }
  
  .hero h2 span {
	position: relative;
	z-index: 1;
	padding: 0 5px;
	display: inline-block;
  }
  
  .hero h2 span:before {
	content: "";
	position: absolute;
	height: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--color-primary);
	z-index: -1;
  }  
  .hero p {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 30px;
	font-size: 18px;
  text-decoration: none;
  }
  
  .hero .btn-get-started {
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	padding: 12px 40px;
	border-radius: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.3s;
	color: #fff;
	background: rgba(0, 0, 0, 0.359);
  }
  
  .hero .btn-get-started:hover {
	background: var(--color-primary);
  }
  
  @media (max-width: 768px) {
	.hero h2 {
	  font-size: 32px;
	}
  }

nav{

  }

  nav .nav-menu{
    position: absolute;
    right: 1.5em;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  nav .nav-item{
    display: inline-block;
  }
  nav .nav-item > a{
    display: inline-block;
    padding: 0 1.3em;
    line-height: 69px;
    color: #fff;
    text-decoration: none;
  }
  .nav-item > a,
  nav .nav-item > a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }
  nav .nav-item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }
  nav .nav-item > a:hover:before,
  .nav-item > a:hover > a:before,
  .nav-item > a:before {
  visibility: visible;
  width: 80%;
  }
  ul li{
    list-style: none;
    }
    ul li a{
      color: #fff;
      font-weight: 500;
      padding: 5px 0;
      display: block;
      text-transform: capitalize;
      text-decoration: none;
      transition: 0.2s ease-out;
    }
    .logo{
      width: 60%;
      position: relative;
    }
    .banner{
    background-color: #4c4645;
      width: 50%;
      box-shadow: #6b522a;
      border-radius: 2%;
  }
  
    .slide{
      height: 100%;
      width: 180px;
      position: absolute;
      background-color: rgba(0,0,0,0.5);
      transition: 0.5s ease;
      transform: translateX(-180px);
    }
    input{
      display: none;
      visibility: hidden;
      -webkit-appearance: none;
    }
    .toggle{
      position: absolute;
      height: 28px;
      width: 35px;
      top: 20px;
      left: 10px;
      z-index: 1;
      cursor: pointer;
      border-radius: 2px;
      background-color:var(--color-primary);
      box-shadow: 0 0 10px #fff;
    }
    .toggle .common{
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: rgb(30, 39, 39);
      border-radius: 50px;
      transition: 0.3s ease;
    }
    .toggle .top_line{
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .toggle .middle_line{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .toggle .bottom_line{
      top: 70%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    input:checked ~ .toggle .top_line{
      left: 2px;
      top: 14px;
      width: 25px;
      transform: rotate(45deg);
    }
    input:checked ~ .toggle .bottom_line{
      left: 2px;
      top: 14px;
      width: 25px;
      transform: rotate(-45deg);
    }
    input:checked ~ .toggle .middle_line{
      opacity: 0;
      transform: translateX(20px);
    }
    input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }

  .list-ico {
    line-height: 2;
    text-decoration: none;
  }
  
  .list-ico span {
    color: #0078ff;
    margin-right: 10px;
    text-decoration: none;
  }
  
  /*------/ Ico Circle /------*/
  .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
    text-decoration: none;
  }
  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  /*about*/
  .about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  
  @media (min-width: 767px) {
    .about-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: 0.7rem;
    background-color: #0078ff;
  }
  
/*services*/  
.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .service-box:hover .ico-circle {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
  }
  
  .service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
  }
  
  .service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .service-box .ico-circle i {
    line-height: 0;
    font-size: 40px;
  }
  
  .service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
  }
  
  .service-box .s-description {
    color: #4e4e4e;
  }
  .box-shadow,
.card-blog,
.work-box,
.service-box,
.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
  }
  
  /*--/ Title A /--*/
  .title-box {
    margin-bottom: 4rem;
  }
  
  .title-a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .subtitle-a {
    text-decoration: none;
    color: #4e4e4e;
  }
  
  .line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }
  
  /*--/ Title Left /--*/
  .title-box-2 {
    margin-bottom: 3rem;
  }
  
  .title-left {
    font-size: 2rem;
    position: relative;
  }
  
  .title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
  }
  
  /*------/ Box /------*/
  .box-pl2 {
    padding-left: 2rem;
  }
  
.box-shadow-a,
.button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}

@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.php-email-form input,
.php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.php-email-form input:focus,
.php-email-form textarea:focus {
  border-color: #0078ff;
}

.php-email-form input {
  padding: 10px 15px;
}

.php-email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.php-email-form button[type=submit] {
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.php-email-form button[type=submit]:hover {
  background: #3393ff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
